<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProcessAreaMapper">

    <select id="searchProcessAreaCount" parameterType="codedriver.module.rdm.dto.ProcessAreaVo" resultType="int">
        SELECT
        COUNT(id)
        FROM `rdm_process_area` a
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="checkProcessAreaExist" parameterType="codedriver.module.rdm.dto.ProcessAreaVo" resultType="int">
        SELECT
        COUNT(id)
        FROM `rdm_process_area` a
        WHERE a.name = #{name}
        <if test="uuid != null and uuid != ''">
            AND a.uuid != #{uuid}
        </if>
    </select>

    <select id="searchProcessArea" parameterType="codedriver.module.rdm.dto.ProcessAreaVo"
            resultType="codedriver.module.rdm.dto.ProcessAreaVo">
        SELECT
        `id`,
        `name`,
        `uuid`,
        `description`,
        DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        `create_user` AS createUser,
        DATE_FORMAT(a.update_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
        `update_user` AS updateUser
        FROM
        `rdm_process_area` a
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY a.id DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getProcessAreaByUuid" resultType="codedriver.module.rdm.dto.ProcessAreaVo">
        SELECT
          `id`,
          `name`,
          `uuid`,
          `description`
        FROM
          `rdm_process_area` a
        WHERE uuid = #{value}
    </select>

    <select id="getProcessAreaFieldListByUuid" resultType="codedriver.module.rdm.dto.FieldVo">
        SELECT
            `field`,
            `name`,
            `field_uuid` as uuid,
            `field_type` as type
        FROM
          `rdm_process_area_field`
        WHERE process_area_uuid = #{value}
    </select>

    <insert id="insertProcessArea" parameterType="codedriver.module.rdm.dto.ProcessAreaVo">
        INSERT INTO `rdm_process_area` (
          `name`,
          `uuid`,
          `description`,
          `create_time`,
          `create_user`
        )
        VALUES
          (
            #{name},
            #{uuid},
            #{description},
            NOW(),
            #{createUser}
          )
    </insert>

    <insert id="insertProcessAreaField" parameterType="codedriver.module.rdm.dto.ProcessAreaFieldVo">
        INSERT INTO `rdm_process_area_field` (
          `process_area_uuid`,
          `field`,
          `name`,
          `field_uuid`,
          `field_type`,
          `sort`,
          `field_config`
        )
        VALUES
          (
            #{processAreaUuid},
            #{field},
            #{name},
            #{uuid},
            #{type},
            #{sort},
            #{config}
          )
    </insert>

    <update id="updateProcessArea" parameterType="codedriver.module.rdm.dto.ProcessAreaVo">
        UPDATE
          `rdm_process_area`
        SET
          `name` = #{name},
          `description` = #{description},
          `update_time` = NOW(),
          `update_user` = #{updateUser}
        WHERE `uuid` = #{uuid}
    </update>

    <delete id="deleteProcessArea">
        DELETE FROM `rdm_process_area` WHERE uuid = #{value}
    </delete>

    <delete id="deleteAllProcessAreaField">
        DELETE FROM `rdm_process_area_field` WHERE process_area_uuid = #{value}
    </delete>
</mapper>
