<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectGroupMemberMapper">
    <resultMap id="memberMap" type="codedriver.module.rdm.dto.ProjectGroupMemberVo">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="groupUuid" column="groupUuid"/>
        <association property="userVo" javaType="codedriver.framework.dto.UserVo">
            <id property="userId" column="userId"/>
            <result property="userName" column="userName"/>
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
            <result property="password" column="password"/>
        </association>
        <association property="groupVo" javaType="codedriver.module.rdm.dto.ProjectGroupVo">
            <id property="id" column="groupId"/>
            <result property="uuid" column="groupUuid"/>
            <result property="name" column="groupName"/>
            <result property="projectUuid" column="projectUuid"/>
            <result property="role" column="role"/>
        </association>
    </resultMap>

    <select id="getProjectGroupMemberList" parameterType="java.lang.String" resultMap="memberMap">
        SELECT
        a.`id`,
        a.`user_id` as `userId`,
        a.`group_uuid` as `groupUuid`,
        b.`user_name` as `userName`,
        b.`email`,
        b.`phone`,
        b.`password`,
        c.`name` as `groupName`,
        c.`role`,
        c.`project_uuid` as `projectUuid`
        FROM `rdm_project_group_member` a
        LEFT JOIN `user` b ON a.`user_id` = b.`user_id`
        LEFT JOIN `rdm_project_group` c ON a.`group_uuid` = c.`uuid`
        WHERE b.`is_active` = 1 AND c.`project_uuid` = #{projectUuid}
    </select>

    <select id="getProjectGroupMember" resultMap="memberMap">
        SELECT
        a.`id`,
        a.`user_id` as `userId`,
        a.`group_uuid` as `groupUuid`,
        b.`user_name` as `userName`,
        b.`email`,
        b.`phone`,
        b.`password`,
        c.`name` as `groupName`,
        c.`project_uuid` as `projectUuid`,
        c.`role`
        FROM `rdm_project_group_member` a
        LEFT JOIN `user` b ON a.`user_id` = b.`user_id`
        LEFT JOIN `rdm_project_group` c ON a.`group_uuid` = c.`uuid`
        WHERE b.`is_active` = 1
        AND c.`project_uuid` = #{projectUuid}
        AND a.`user_id` = #{userId}
    </select>

    <insert id="insertProjectGroupMember" parameterType="codedriver.module.rdm.dto.ProjectGroupMemberVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_project_group_member`
        (
        `user_id`,
        `group_uuid`
        ) VALUES (
        #{userId},
        #{groupUuid}
        )
    </insert>

    <delete id="deleteProjectGroupMember" parameterType="codedriver.module.rdm.dto.ProjectGroupMemberVo">
        DELETE
        FROM `rdm_project_group_member`
        <where>
            <if test="userId !=null and userId != ''">
                AND `user_id` = #{userId}
            </if>
            <if test="groupUuid != null and groupUuid != ''">
                AND `group_uuid` = #{groupUuid}
            </if>
        </where>
    </delete>
</mapper>
