<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectWorkflowMapper">
    <resultMap id="projectWorkflowMap" type="codedriver.module.rdm.dto.ProjectWorkFlowStatusVo">
        <id property="uuid" column="uuid"/>
        <id property="projectUuid" column="projectUuid"/>
        <id property="processAreaUuid" column="processAreaUuid"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="color" column="color"/>
        <collection property="transferTo" ofType="java.lang.String">
            <result column="transferTo"/>
        </collection>
    </resultMap>

    <select id="getProjectWorkFlow" resultMap="projectWorkflowMap">
        SELECT
        a.uuid,
        a.`name`,
        a.type,
        a.`color`,
        a.`project_uuid` AS projectUuid,
        a.`process_area_uuid` AS processAreaUuid,
        b.`transfer_to` AS transferTo
        FROM `rdm_project_status` a
        LEFT JOIN `rdm_project_status_route` b ON a.`uuid` = b.`uuid`
        WHERE a.`project_uuid`  = #{projectUuid}
        AND a.`process_area_uuid` = #{processAreaUuid}
    </select>

    <select id="getTransferStatusList" resultType="codedriver.module.rdm.dto.ProjectWorkFlowStatusVo">
        SELECT
          b.`transfer_to` AS uuid,
          c.name,
          c.type
        FROM
          `rdm_project_status` a
          JOIN `rdm_project_status_route` b ON a.`uuid` = b.uuid
          LEFT JOIN rdm_project_status c ON b.`transfer_to` = c.uuid
          WHERE a.`project_uuid` = #{projectUuid}
          AND a.`process_area_uuid` = #{processAreaUuid}
          AND a.`uuid` = #{statusUuid}
    </select>

    <select id="getProjectWorkflowStatus" resultType="codedriver.module.rdm.dto.ProjectWorkFlowStatusVo">
        SELECT
        a.uuid,
        a.`name`,
        a.type,
        a.`project_uuid` AS projectUuid,
        a.`process_area_uuid` AS processAreaUuid,
        a.`color`
        FROM `rdm_project_status` a
        WHERE a.`project_uuid` = #{projectUuid}
        AND a.`process_area_uuid` = #{processAreaUuid}
        AND a.uuid = #{uuid}
    </select>

    <select id="checkProjectStatusExist" parameterType="codedriver.module.rdm.dto.ProjectWorkFlowStatusVo"
            resultType="int">
        SELECT
        COUNT(id)
        FROM `rdm_project_status` a
        WHERE a.`project_uuid` = #{projectUuid}
        AND a.`process_area_uuid` = #{processAreaUuid}
        AND a.name = #{name}
        <if test="uuid != null and uuid != ''">
            AND a.uuid != #{uuid}
        </if>
    </select>

    <insert id="insertProjectWorkflowStatus" parameterType="codedriver.module.rdm.dto.ProjectWorkFlowStatusVo">
        INSERT INTO `rdm_project_status` (
          `project_uuid`,
          `process_area_uuid`,
          `uuid`,
          `name`,
          `type`,
          `color`
        )
        VALUES
          (
            #{projectUuid},
            #{processAreaUuid},
            #{uuid},
            #{name},
            #{type},
            #{color}
          )
    </insert>

    <insert id="insertProjectWorkflowStatusTransfer">
        INSERT INTO `rdm_project_status_route` (
            `uuid`,
            `transfer_to`
        )
        VALUES
          (
            #{uuid},
            #{transferTo}
          )
    </insert>

    <update id="updateProjectStatus" parameterType="codedriver.module.rdm.dto.ProjectWorkFlowStatusVo">
        UPDATE
          `rdm_project_status`
        SET
          `name` = #{name},
          `type` = #{type},
          `update_time` = NOW(),
          `update_user` = #{updateUser},
          `color` = #{color}
        WHERE `uuid` = #{uuid}
    </update>

    <delete id="deleteAllProjectStatus">
        DELETE
        a, b
        FROM `rdm_project_status` a
        LEFT JOIN `rdm_project_status_route` b ON a.uuid = b.uuid
        WHERE a.project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
    </delete>

    <delete id="deleteProjectStatusByUuid">
        DELETE
        FROM `rdm_project_status`
        WHERE project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
        AND uuid = #{uuid}
    </delete>
</mapper>
