<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectPriorityMapper">

    <select id="searchProjectPriorityCount" parameterType="codedriver.module.rdm.dto.ProjectPriorityVo" resultType="int">
        SELECT
        COUNT(id)
        FROM `rdm_project_priority` a
        WHERE project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="checkProjectPriorityExist" parameterType="codedriver.module.rdm.dto.ProjectPriorityVo" resultType="int">
        SELECT
        COUNT(id)
        FROM `rdm_project_priority` a
        WHERE project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
        AND a.name = #{name}
        <if test="uuid != null and uuid != ''">
            AND a.uuid != #{uuid}
        </if>
    </select>

    <select id="searchProjectPriority" parameterType="codedriver.module.rdm.dto.ProjectPriorityVo" resultType="codedriver.module.rdm.dto.ProjectPriorityVo">
        SELECT
        `id`,
        `name`,
        `uuid`,
        `color`,
        `is_default` as `isDefault`,
        DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        `create_user` AS createUser,
        DATE_FORMAT(a.update_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
        `update_user` AS updateUser
        FROM
        `rdm_project_priority` a
        WHERE project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY a.id
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getProjectPriorityByUuid" resultType="codedriver.module.rdm.dto.ProjectPriorityVo">
        SELECT
          `id`,
          `project_uuid` AS projectUuid,
          `process_area_uuid` AS processAreaUuid,
          `name`,
          `uuid`,
          `color`,
          `is_default` as `isDefault`
        FROM
          `rdm_project_priority` a
        WHERE project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
        AND uuid = #{uuid}
    </select>


    <insert id="insertProjectPriority" parameterType="codedriver.module.rdm.dto.ProjectPriorityVo">
        INSERT INTO `rdm_project_priority` (
          `project_uuid`,
          `process_area_uuid`,
          `name`,
          `uuid`,
          `color`,
          `create_time`,
          `create_user`,
          `update_time`,
          `update_user`,
          `is_default`
        )
        VALUES
          (
            #{projectUuid},
            #{processAreaUuid},
            #{name},
            #{uuid},
            #{color},
            NOW(),
            #{createUser},
            NOW(),
            #{updateUser},
            #{isDefault}
          )
    </insert>


    <update id="updateProjectPriority" parameterType="codedriver.module.rdm.dto.ProjectPriorityVo">
        UPDATE
          `rdm_project_priority`
        SET
          `name` = #{name},
          `color` = #{color},
          `update_time` = NOW(),
          `update_user` = #{updateUser},
          `is_default` = #{isDefault}
        WHERE `uuid` = #{uuid}
    </update>

    <delete id="deleteProjectPriority">
        DELETE FROM `rdm_project_priority`
        WHERE project_uuid = #{projectUuid}
        AND process_area_uuid = #{processAreaUuid}
        AND uuid = #{uuid}
    </delete>
</mapper>
