<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectRoleMapper">
    <resultMap id="RoleActionMap" type="codedriver.module.rdm.dto.RoleActionVo">
        <id column="id" property="id"/>
        <result column="groupUuid" property="groupUuid"/>
        <result column="action" property="action"/>
        <result column="createUser" property="createUser"/>
        <result column="createTime" property="createTime"/>
        <result column="module" property="module"/>
    </resultMap>
    <select id="searchRoleActionByGroupUuidAndModule" resultMap="RoleActionMap">
        SELECT
        a.`id`,
        a.`group_uuid` as `groupUuid`,
        a.`action`,
        a.`create_user` as `createUser`,
        a.`create_time` as `createTime`,
        a.`module`
        FROM `rdm_project_group_action` a
        WHERE a.`group_uuid` = #{groupUuid} AND a.`module` = #{module}
    </select>

    <insert id="insertProjectRoleAction" parameterType="codedriver.module.rdm.dto.RoleActionVo">
        INSERT INTO `rdm_project_group_action`
        (
        `group_uuid`,
        `action`,
        `module`,
        `create_user`,
        `create_time`
        ) VALUES (
        #{groupUuid},
        #{action},
        #{module},
        #{createUser},
        NOW()
        )
    </insert>

    <delete id="deleteProjectRoleAction" parameterType="java.lang.String">
        DELETE FROM `rdm_project_group_action` WHERE `group_uuid` = #{groupUuid}
    </delete>
</mapper>
