<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectRoleMapper">
    <resultMap id="RoleActionMap" type="codedriver.module.rdm.dto.RoleActionVo">
        <id column="id" property="id"/>
        <result column="groupId" property="groupId"/>
        <result column="action" property="action"/>
        <result column="createUser" property="createUser"/>
        <result column="createTime" property="createTime"/>
        <result column="module" property="module"/>
    </resultMap>
    <select id="searchRoleActionByGroupIdAndModule" resultMap="RoleActionMap">
        SELECT
        a.`id`,
        a.`group_id` as `groupId`,
        a.`action`,
        a.`create_user` as `createUser`,
        a.`create_time` as `createTime`,
        a.`module`
        FROM `rdm_role_action` a
        WHERE a.`group_id` = #{groupId} AND a.`module` = #{module}
    </select>

    <select id="checkRoleAction" resultType="java.lang.Integer">
        SELECT
    </select>

    <insert id="insertProjectRoleAction" parameterType="codedriver.module.rdm.dto.RoleActionVo">
        INSERT INTO `rdm_role_action`
        (
        `group_id`,
        `action`,
        `module`,
        `create_user`,
        `create_time`
        ) VALUES (
        #{groupId},
        #{action},
        #{module},
        #{createUser},
        NOW()
        )
    </insert>

    <delete id="deleteProjectRoleAction" parameterType="java.lang.Long">
        DELETE FROM `rdm_role_action` WHERE `group_id` = #{groupId}
    </delete>
</mapper>
