<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectMemberMapper">
    <resultMap id="memberMap" type="codedriver.module.rdm.dto.ProjectMemberVo">
        <id property="id" column="id"/>
        <result property="projectUuid" column="projectUuid"/>
        <result property="userId" column="userId"/>
        <result property="isLeader" column="isLeader"/>
        <result property="groupId" column="groupId"/>
        <association property="userVo" javaType="codedriver.framework.dto.UserVo">
            <id property="userId" column="userId"/>
            <result property="userName" column="userName"/>
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
            <result property="password" column="password"/>
        </association>
        <association property="groupVo" javaType="codedriver.module.rdm.dto.ProjectGroupVo">
            <id property="id" column="groupId"/>
            <result property="name" column="groupName"/>
            <result property="projectUuid" column="projectUuid"/>
            <result property="role" column="role"/>
        </association>
    </resultMap>

    <select id="getProjectMemberList" parameterType="java.lang.String" resultMap="memberMap">
        SELECT
        a.`id`,
        a.`project_uuid` as `projectUuid`,
        a.`user_id` as `userId`,
        a.`group_id` as `groupId`,
        a.`is_leader` as `isLeader`,
        b.`user_name` as `userName`,
        b.`email`,
        b.`phone`,
        b.`password`,
        c.`name` as `groupName`,
        c.`role`
        FROM `rdm_project_member` a
        LEFT JOIN `user` b ON a.`user_id` = b.`user_id`
        LEFT JOIN `rdm_project_group` c ON a.`group_id` = c.`id`
        WHERE b.`is_active` = 1 AND a.`project_uuid` = #{projectUuid}
    </select>

    <select id="getProjectMember" resultMap="memberMap">
        SELECT
        a.`id`,
        a.`project_uuid` as `projectUuid`,
        a.`user_id` as `userId`,
        a.`group_id` as `groupId`,
        a.`is_leader` as `isLeader`,
        b.`user_name` as `userName`,
        b.`email`,
        b.`phone`,
        b.`password`,
        c.`name` as `groupName`,
        c.`role`
        FROM `rdm_project_member` a
        LEFT JOIN `user` b ON a.`user_id` = b.`user_id`
        LEFT JOIN `rdm_project_group` c ON a.`group_id` = c.`id`
        WHERE b.`is_active` = 1
        AND a.`project_uuid` = #{projectUuid}
        AND a.`user_id` = #{userId}
    </select>

    <insert id="insertProjectMember" parameterType="codedriver.module.rdm.dto.ProjectMemberVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_project_member`
        (
        `project_uuid`,
        `user_id`,
        `is_leader`,
        `group_id`
        ) VALUES (
        #{projectUuid},
        #{userId},
        #{isLeader},
        #{groupId}
        )
    </insert>

    <delete id="deleteProjectMember" parameterType="codedriver.module.rdm.dto.ProjectMemberVo">
        DELETE
        FROM `rdm_project_member`
        <where>
            <if test="userId !=null and userId != ''">
                AND `user_id` = #{userId}
            </if>
            <if test="projectUuid != null and projectUuid != ''">
                AND `project_uuid` = #{projectUuid}
            </if>
            <if test="groupId != null and groupId != 0L">
                AND `group_id` = #{groupId}
            </if>
        </where>
    </delete>
</mapper>
