<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectIterationMapper">

    <select id="searchProjectIteration" resultType="codedriver.module.rdm.dto.ProjectIterationVo">
        SELECT
        `project_uuid` AS projectUuid,
        `name`,
        `uuid`,
        `description`,
        DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate,
        DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate,
        `create_user` AS createUser,
        DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        `update_user` AS updateUser,
        DATE_FORMAT(update_time, '%Y-%m-%d %H:%i:%s') AS updateTime
        FROM
        `rdm_project_iteration`
        WHERE project_uuid = #{projectUuid}
        <if test="keyword != null and keyword != ''">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY start_date DESC
    </select>

    <insert id="insertProjectIteration" parameterType="codedriver.module.rdm.dto.ProjectIterationVo">
       INSERT INTO `rdm_project_iteration` (
          `project_uuid`,
          `name`,
          `uuid`,
          `description`,
          `start_date`,
          `end_date`,
          `create_time`,
          `create_user`
        )
        VALUES
          (
            #{projectUuid},
            #{name},
            #{uuid},
            #{description},
            #{startDate},
            #{endDate},
            NOW(),
            #{createUser}
          )
    </insert>

    <select id="getProjectIterationByUuid" resultType="codedriver.module.rdm.dto.ProjectIterationVo">
        SELECT
          `project_uuid` AS projectUuid,
          `name`,
          `uuid`,
          `description`,
          DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate,
          DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate,
          `create_user` AS createUser,
          DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
          `update_user` AS updateUser,
          DATE_FORMAT(update_time, '%Y-%m-%d %H:%i:%s') AS updateTime
        FROM
          `rdm_project_iteration`
        WHERE project_uuid = #{projectUuid}
        AND uuid = #{uuid}
    </select>

    <select id="checkProjectIterationExist" parameterType="codedriver.module.rdm.dto.ProjectIterationVo"
            resultType="int">
        SELECT
        COUNT(id)
        FROM `rdm_project_iteration` a
        WHERE project_uuid = #{projectUuid}
        AND a.name = #{name}
        <if test="uuid != null and uuid != ''">
            AND a.uuid != #{uuid}
        </if>
    </select>

    <update id="updateProjectIteration">
        UPDATE
          `rdm_project_iteration`
        SET
          `name` = #{name},
          `description` = #{description},
          `start_date` = #{startDate},
          `end_date` = #{endDate},
          `update_time` = NOW(),
          `update_user` = #{updateUser}
        WHERE project_uuid = #{projectUuid}
        AND `uuid` = #{uuid}
    </update>

    <update id="associateTask">
        UPDATE
        `rdm_task`
        SET
        `iteration_uuid` = #{projectIterationUuid}
        WHERE `project_uuid` = #{projectUuid}
        AND `uuid` IN
        <foreach collection="taskList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="deleteProjectIteration">
        DELETE
        FROM `rdm_project_iteration`
        WHERE project_uuid = #{projectUuid}
        AND uuid =  #{uuid}
    </delete>

</mapper>
