<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectCategoryMapper">
    <select id="searchProjectCategory" parameterType="codedriver.module.rdm.dto.CategoryVo"
            resultType="codedriver.module.rdm.dto.CategoryVo">
        SELECT
        `id`,
        `project_uuid` as `projectUuid`,
        `process_area_uuid` as `processAreaUuid`,
        `uuid`,
        `parent_uuid` as `parentUuid`,
        `name`,
        `description`
        FROM `rdm_category`
        WHERE `is_active` = 1
        <if test="uuid != null and uuid != ''">
            AND `uuid` = #{uuid}
        </if>
        <if test="projectUuid != null and projectUuid != ''">
            AND `project_uuid` = #{projectUuid}
        </if>
        <if test="processAreaUuid != null and processAreaUuid != ''">
            AND `process_area_uuid` = #{processAreaUuid}
        </if>
        <if test="parentUuid != null and parentUuid != ''">
            AND `parent_uuid` = #{parentUuid}
        </if>
    </select>


    <update id="updateProjectCategoryByUuid" parameterType="codedriver.module.rdm.dto.CategoryVo">
       UPDATE `rdm_category` SET
       `parent_uuid` = #{parentUuid},
       `name` = #{name},
       `description` = #{description}
       WHERE `uuid` = #{uuid}
   </update>

    <insert id="insertProjectCategory" parameterType="codedriver.module.rdm.dto.CategoryVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_category`(
        `project_uuid`,
        `process_area_uuid`,
        `uuid`,
        `parent_uuid`,
        `name`,
        `description`,
        `is_active`
        ) VALUES (
        #{projectUuid},
        #{processAreaUuid},
        #{uuid},
        #{parentUuid},
        #{name},
        #{description},
        #{isActive}
        )
    </insert>

    <delete id="deleteProjectCategoryByUuid" parameterType="java.lang.String">
        UPDATE `rdm_category` SET `is_active` = 0 WHERE `uuid` = #{uuid}
    </delete>
</mapper>
