<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectIterationMapper">


    <select id="searchProjectIteration" resultType="codedriver.module.rdm.dto.ProjectIterationVo">
        SELECT
          `project_uuid` AS projectUuid,
          `name`,
          `uuid`,
          `description`,
          DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate,
          DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate,
          `create_user` AS createUser,
          DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
          `update_user` AS updateUser,
          DATE_FORMAT(update_time, '%Y-%m-%d %H:%i:%s') AS updateTime
        FROM
          `rdm_project_iteration`
        WHERE project_uuid = #{projectUuid}
        <if test="keyword != null and keyword != ''">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY start_date DESC
    </select>

    <select id="getProjectIterationByUuid" resultType="codedriver.module.rdm.dto.ProjectIterationVo">
        SELECT
          `project_uuid` AS projectUuid,
          `name`,
          `uuid`,
          `description`,
          DATE_FORMAT(start_date, '%Y-%m-%d') AS startDate,
          DATE_FORMAT(end_date, '%Y-%m-%d') AS endDate,
          `create_user` AS createUser,
          DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
          `update_user` AS updateUser,
          DATE_FORMAT(update_time, '%Y-%m-%d %H:%i:%s') AS updateTime
        FROM
          `rdm_project_iteration`
        WHERE project_uuid = #{projectUuid}
        AND uuid = #{uuid}
    </select>

    <delete id="deleteProjectIteration">
        DELETE
        FROM `rdm_project_iteration`
        WHERE project_uuid = #{projectUuid}
        AND uuid =  #{uuid}
    </delete>

</mapper>
