<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectMapper">

    <resultMap id="projectProcessArea" type="codedriver.module.rdm.dto.ProjectProcessAreaVo">
        <id property="id" column="id"/>
        <result property="processAreaUuid" column="processAreaUuid"/>
        <result property="projectUuid" column="projectUuid"/>
        <result property="processAreaName" column="processAreaName"/>
        <result property="processAreaFieldSort" column="processAreaFieldSort"/>
        <result property="isEnable" column="isEnable"/>
        <collection property="fieldList" ofType="codedriver.module.rdm.dto.ProjectProcessAreaFieldVo">
            <id property="id" column="fieldId"/>
            <result property="projectUuid" column="projectUuid"/>
            <result property="processAreaUuid" column="processAreaName"/>
            <result property="fieldUuid" column="fieldUuid"/>
            <result property="field" column="field"/>
            <result property="config" column="config"/>
            <result property="fieldType" column="fieldType"/>
            <result property="isSystem" column="isSystem"/>
            <result property="fieldName" column="fieldName"/>
            <result property="isShow" column="isSHow"/>
        </collection>
    </resultMap>

    <select id="searchProjectCount" parameterType="codedriver.module.rdm.dto.ProjectVo" resultType="int">
        SELECT
            COUNT(id)
        FROM `rdm_project` a
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="getProjectProcessArea" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaVo" resultMap="projectProcessArea">
        SELECT
        a.`id`,
        a.`project_uuid` as `projectUuid`,
        a.`process_area_uuid` as `processAreaUuid`,
        a.`process_area_name` as `processAreaName`,
        a.`process_area_field_sort` as `processAreaFieldSort`,
        a.`is_enable` as `isEnable`,
        b.`id` as `fieldId`,
        b.`field` as `field`,
        b.`field_name` as `fieldName`,
        b.`field_uuid` as `fieldUuid`,
        b.`field_type` as `fieldType`,
        b.`config`,
        b.`is_system` as `isSystem`,
        b.`is_show` as `isShow`
        FROM `rdm_project_process_area` a
        LEFT JOIN `rdm_project_field` b ON a.project_uuid = b.project_uuid AND a.process_area_uuid = b.process_area_uuid
        <where>
            <if test="projectUuid != null">
              and  a.`project_uuid` = #{projectUuid}
            </if>

            <if test="processAreaUuid != null">
             and   a.`process_area_uuid` = #{processAreaUuid}
            </if>
        </where>
    </select>

    <select id="searchProject" parameterType="codedriver.module.rdm.dto.ProjectVo" resultType="codedriver.module.rdm.dto.ProjectVo">
        SELECT
        `id`,
        `name`,
        `uuid`,
        `description`,
        `status`,
        `create_time` AS createTime,
        `create_user` AS createUser,
        `update_time` AS updateUser,
        `update_user` AS updateTime
        FROM `rdm_project` a
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY a.id
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
	</select>

    <select id="getProjectByUuid" resultType="codedriver.module.rdm.dto.ProjectVo">
        SELECT
        `id`,
        `name`,
        `uuid`,
        `description`,
        `status`,
        DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%s') AS createTime,
        `create_user` AS createUser,
        DATE_FORMAT(a.update_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
        `update_user` AS updateUser
        FROM `rdm_project` a
        WHERE uuid = #{value}
    </select>

    <insert id="insertProject" parameterType="codedriver.module.rdm.dto.ProjectVo">
        INSERT INTO
        `rdm_project`(
        `name`,
        `uuid`,
        `description`,
        `status`,
        `create_time`,
        `create_user`,
        `update_time`,
        `update_user`
        ) values (
        #{name},
        #{uuid},
        #{description},
        #{status},
        NOW(),
        #{createUser},
        NOW(),
        #{updateUser}
        )
    </insert>

    <insert id="insertProjectProcessArea" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_project_process_area`
        (
        `project_uuid`,
        `process_area_uuid`,
        `process_area_name`,
        `process_area_field_sort`,
        `is_enable`
        )  VALUES (
        #{projectUuid},
        #{processAreaUuid},
        #{processAreaName},
        #{processAreaFieldSort},
        #{isEnable}
        )
    </insert>
    
    <insert id="insertProjectProcessAreaField" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaFieldVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_project_field`
        (
        `project_uuid`,
        `process_area_uuid`,
        `field_name`,
        `field`,
        `field_uuid`,
        `field_type`,
        `config`,
        `is_system`,
        `is_show`
        ) VALUES (
        #{projectUuid},
        #{processAreaUuid},
        #{fieldName},
        #{field},
        #{fieldUuid},
        #{fieldType},
        #{config},
        #{isSystem},
        #{isShow}
        )
    </insert>

    <insert id="insertProjectProcessAreaTemplate" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaTemplateVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        `rdm_project_process_area_template`(
        `process_area_uuid`,
        `project_uuid`,
        `content`
        ) VALUES (
        #{processAreaUuid},
        #{projectUuid},
        #{content}
        )
    </insert>

    <update id="updateProject" parameterType="codedriver.module.rdm.dto.ProjectVo">
        UPDATE `rdm_project`
        SET
        `name` = #{name},
        `description` = #{description},
        `status` = #{status},
        `update_user` = #{updateUser},
        `update_time` = NOW()
        WHERE `uuid` = #{uuid}
    </update>

    <update id="updateProjectProcessArea" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaVo">
        UPDATE `rdm_project_process_area`
        SET
        `process_area_field_sort` = #{processAreaFieldSort},
        `is_enable` = #{isEnable}
        WHERE id = #{id}
    </update>

    <update id="updteProjectProcessAreaTemplate" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaTemplateVo">
        UPDATE `rdm_project_process_area_template`
        SET
        `content` = #{content}
        WHERE id = #{id}
    </update>

    <update id="updateProjectProcessAreaFiled" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaFieldVo">
        UPDATE `rdm_project_field` SET `config` = #{config} WHERE field_uuid = #{fieldUuid}
    </update>

    <delete id="deleteProject" >
        DELETE FROM `rdm_project_field` WHERE uuid = #{value}
    </delete>

    <delete id="deleteProjectProcessAreaCustomFiled" parameterType="codedriver.module.rdm.dto.ProjectProcessAreaFieldVo">
        DELETE FROM `rdm_project_field`
        WHERE `is_system` = 0
        <if test="projectUuid != null">
            AND `project_uuid` = #{projectUuid}
        </if>
        <if test="processAreaUuid != null">
            AND `process_area_uuid` = #{processAreaUuid}
        </if>
    </delete>
</mapper>
