<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.ProjectGroupActionMapper">
    <resultMap id="RoleActionMap" type="codedriver.module.rdm.dto.ProjectGroupActionVo">
        <id column="id" property="id"/>
        <result column="groupUuid" property="groupUuid"/>
        <result column="action" property="action"/>
        <result column="createUser" property="createUser"/>
        <result column="createTime" property="createTime"/>
        <result column="module" property="module"/>
    </resultMap>
    <select id="searchGroupActionByGroupUuidAndModule" resultMap="RoleActionMap">
        SELECT
        a.`id`,
        a.`group_uuid` as `groupUuid`,
        a.`action`,
        a.`create_user` as `createUser`,
        a.`create_time` as `createTime`,
        a.`module`
        FROM `rdm_project_group_action` a
        WHERE a.`group_uuid` = #{groupUuid} AND a.`module` = #{module}
    </select>

    <insert id="insertProjectGroupAction" parameterType="codedriver.module.rdm.dto.ProjectGroupActionVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_project_group_action`
        (
        `group_uuid`,
        `action`,
        `module`,
        `create_user`,
        `create_time`
        ) VALUES (
        #{groupUuid},
        #{action},
        #{module},
        #{createUser},
        NOW()
        )
    </insert>

    <insert id="insertProjectGroupActionProcess">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
         `rdm_project_group_action_process`(
         `group_action_id`,
         `process_area_uuid`
         )VALUES(
         #{groupActionId},
         #{processAreaUuid}
         )
    </insert>

    <delete id="deleteProjectGroupAction" parameterType="java.lang.String">
        DELETE FROM `rdm_project_group_action` WHERE `group_uuid` = #{groupUuid}
    </delete>

    <delete id="deleteGroupActionProcessArea" parameterType="java.util.List">
        DELETE FROM `rdm_project_group_action_process` WHERE `group_action_id`
        IN
        <foreach collection="groupActionIdList" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
</mapper>
