<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.RdmEventMapper">

    <select id="getAllEventRule" resultType="codedriver.module.rdm.event.dto.EventRuleVo">
        SELECT
          `uuid`,
          `object_uuid` AS objectUuid,
          `object_belong` AS objectBelong,
          `event`,
          `trigger_rule` AS triggerRule,
          `target_object_uuid` AS targetObjectUuid,
          `target_object_belong` AS targetObjectBelong,
          `complete_rule` AS completeRule
        FROM
          `rdm_event_rule`
    </select>

    <select id="getEvent" parameterType="codedriver.module.rdm.event.dto.EventVo" resultType="codedriver.module.rdm.event.dto.EventVo">
        SELECT
          `id`,
          `unique_key` AS uniqueKey,
          `rule_uuid` AS ruleUuid,
          `object_uuid` AS objectUuid,
          `event`,
          `target_object_uuid` AS targetObjectUuid,
          `user_id` AS userId,
          `status`
        FROM
          `rdm_event`
        WHERE
          `unique_key` = #{uniqueKey}
    </select>

    <select id="getEventRuleByUuid" resultType="codedriver.module.rdm.event.dto.EventRuleVo">
        SELECT
          `uuid`,
          `object_uuid` AS objectUuid,
          `object_belong` AS objectBelong,
          `event`,
          `trigger_rule` AS triggerRule,
          `target_object_uuid` AS targetObjectUuid,
          `target_object_belong` AS targetObjectBelong,
          `complete_rule` AS completeRule
        FROM
          `rdm_event_rule`
        WHERE `uuid` = #{uuid}
    </select>

    <insert id="insertEvent" parameterType="codedriver.module.rdm.event.dto.EventVo">
        INSERT INTO `rdm_event` (
          `unique_key`,
          `rule_uuid`,
          `object_uuid`,
          `event`,
          `target_object_uuid`,
          `user_id`,
          `status`
        )
        VALUES
          (
            #{uniqueKey},
            #{ruleUuid},
            #{objectUuid},
            #{event},
            #{targetObjectUuid},
            #{userId},
            #{status}
          )
    </insert>

    <delete id="deleteEvent" parameterType="codedriver.module.rdm.event.dto.EventVo">
        DELETE
        FROM
          `rdm_event`
        WHERE `unique_key` = #{uniqueKey}
        AND `rule_uuid` = #{ruleUuid}
    </delete>

    <delete id="deleteEventById">
        DELETE
        FROM
          `rdm_event`
        WHERE `id` = #{id}
    </delete>

</mapper>
