<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.SystemFieldMapper">

    <select id="searchField" parameterType="codedriver.module.rdm.dto.FieldVo" resultType="codedriver.module.rdm.dto.FieldVo">
        SELECT
          `id`,
          `uuid`,
          `field`,
          `name`,
          `description`,
          `type`,
          `config`
        FROM
          `rdm_system_field` a
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND a.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
	</select>

    <insert id="insertSystemField" parameterType="codedriver.module.rdm.dto.FieldVo">
        INSERT INTO `rdm_system_field` (
          `field`,
          `uuid`,
          `name`,
          `type`,
          `config`,
          `sort`
        )
        VALUES
          (
            #{field},
            #{uuid},
            #{name},
            #{type},
            #{config},
            #{sort}
          )
    </insert>

</mapper>
