<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.module.rdm.dao.mapper.TemplateMapper">
    <resultMap id="processAreaMap" type="codedriver.module.rdm.dto.TemplateProcessAreaVo">
        <id property="id" column="id"/>
        <result property="processAreaUuid" column="processAreaUuid"/>
        <result property="templateUuid" column="templateUuid"/>
        <result property="processAreaName" column="processAreaName"/>
        <result property="processAreaFieldSort" column="processAreaFieldSort"/>
        <collection property="processAreaFieldVoList" ofType="codedriver.module.rdm.dto.TemplateProcessAreaFieldVo">
            <id column="fieldId" property="id"/>
            <result column="field" property="field"/>
            <result column="fieldName" property="fieldName"/>
            <result column="fieldUuid" property="fieldUuid"/>
            <result column="fieldType" property="fieldType"/>
            <result column="config" property="config"/>
            <result column="isSystem" property="isSystem"/>
            <result column="processAreaUuid" property="processAreaUuid"/>
        </collection>
    </resultMap>

    <select id="getTemplateProcessAreaListByTemplateUuid" parameterType="java.lang.String" resultMap="processAreaMap">
        SELECT
        a.`id`,
        a.`template_uuid` as `templateUuid`,
        a.`process_area_uuid` as `processAreaUuid`,
        a.`process_area_name` as `processAreaName`,
        a.`process_area_field_sort` as `processAreaFieldSort`,
        b.`id` as `fieldId`,
        b.`field` as `field`,
        b.`field_name` as `fieldName`,
        b.`field_uuid` as `fieldUuid`,
        b.`field_type` as `fieldType`,
        b.`config` as `config`,
        b. `is_system` as `isSystem`
        FROM `rdm_template_process_area` a
        LEFT JOIN `rdm_template_process_area_field` b ON a.`template_uuid` = b.`template_uuid` AND a.`process_area_uuid` = b.`process_area_uuid`
        WHERE a.`template_uuid` = #{templateUuid}
    </select>

    <select id="getTemplateProcessAreaTemplateListByTemplateUuid" parameterType="java.lang.String" resultType="codedriver.module.rdm.dto.TemplateProcessAreaTemplateVo">
        SELECT
        `id`,
        `process_area_uuid` as `processAreaUuid`,
        `template_uuid` as `templateUuid`,
        `content`
        FROM `rdm_template_process_area_template`
        WHERE `template_uuid` = #{templateUuid}
    </select>

    <insert id="insertTemplate" parameterType="codedriver.module.rdm.dto.TemplateVo">
        INSERT INTO  `rdm_template`
        (
          `uuid`,
          `name`,
          `description`,
          `create_user`,
          `create_time`,
          `update_user`,
          `update_time`,
          `is_active`
        ) VALUES (
        #{uuid},
        #{name},
        #{description},
        #{createUser},
        NOW(),
        #{updateUser},
        NOW(),
        #{isActive}
        )
    </insert>

    <insert id="insertTemplateProcessTemplate" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaTemplateVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_template_process_area_template`
        (
        `template_uuid`,
        `process_area_uuid`,
        `content`
        ) VALUES (
          #{templateUuid},
          #{processAreaUuid},
          #{content}
        )
    </insert>

    <insert id="insertTemplateProcessArea" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `rdm_template_process_area`
        (
        `template_uuid`,
        `process_area_uuid`,
        `process_area_name`,
        `process_area_field_sort`
        ) VALUES (
        #{templateUuid},
        #{processAreaUuid},
        #{processAreaName},
        #{processAreaFieldSort}
        )
    </insert>

    <insert id="insertTemplateProcessAreaField" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaFieldVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO
        `rdm_template_process_area_field`
        (
        `template_uuid`,
        `process_area_uuid`,
        `field`,
        `field_name`,
        `field_uuid`,
        `field_type`,
        `config`,
        `is_system`,
        `is_required`
        ) VALUES (
        #{templateUuid},
        #{processAreaUuid},
        #{field},
        #{fieldName},
        #{fieldUuid},
        #{fieldType},
        #{config},
        #{isSystem},
        #{isRequired}
        )
    </insert>

    <update id="updateTemplateProcessAreaFieldSort" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaVo">
        UPDATE `rdm_template_process_area` SET
        `process_area_field_sort` = #{processAreaFieldSort}
        WHERE id = #{id}
    </update>

    <update id="updateTemplate" parameterType="codedriver.module.rdm.dto.TemplateVo">
        UPDATE `rdm_template` SET
        `name` = #{name},
        `description` = #{description},
        `update_user` = #{updateUser},
        `update_time` = NOW()
        WHERE `uuid` = #{uuid}
    </update>

    <update id="updateTemplateProcessAreaFieldConfig" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaFieldVo">
        UPDATE `rdm_template_process_area_field` SET
        `config` = #{config}
        WHERE field_uuid = #{fieldUuid}
    </update>

    <update id="updateTemplateProcessAreaFieldRequired" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaFieldVo">
        UPDATE `rdm_template_process_area_field` SET
        `is_required` = #{isRequired}
        WHERE field_uuid = #{fieldUuid}
    </update>

    <update id="updateTemplateProcessTemplate" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaTemplateVo">
        UPDATE `rdm_template_process_ara_template` SET
        `content` = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteTemplateByUuid" parameterType="java.lang.String">
        DELETE FROM `rdm_template` WHERE `uuid` = #{uuid}
    </delete>

    <delete id="deleteTemplateProcessArea" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaVo">
        DELETE
        FROM `rdm_template_process_area`
        <where>
            <if test="id != null and id != 0">
                `id` = #{id}
            </if>
            <if test="templateUuid != null">
              AND `template_uuid` = #{templateUuid}
            </if>
        </where>
    </delete>

    <delete id="deleteTemplateProcessField" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaFieldVo">
        DELETE
        FROM `rdm_template_process_area_field`
        <where>
            <if test="processAreaUuid != null">
                `process_area_uuid` = #{processAreaUuid}
            </if>
            <if test="templateUuid != null">
              AND `template_uuid` = #{templateUuid}
            </if>
        </where>
    </delete>

    <delete id="deleteTemplateProCustomField">
        DELETE
        FROM `rdm_template_process_area_field`
        WHERE `is_system` = 0
            <if test="templateUuid != null">
               AND `template_uuid` = #{templateUuid}
            </if>
            <if test="processAreaUuid != null">
              AND  `process_area_uuid` = #{processAreaUuid}
            </if>
    </delete>

    <delete id="deleteTemplateProcessAreaTemplate" parameterType="codedriver.module.rdm.dto.TemplateProcessAreaTemplateVo">
        DELETE
        FROM `rdm_template_process_area_template`
        <where>
            <if test="templateUuid != null">
                `template_uuid` = #{templateUuid}
            </if>
            <if test="processAreaUuid != null">
              AND  `process_area_uuid` = #{processAreaUuid}
            </if>
        </where>
    </delete>
</mapper>
