<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.AppMapper">
    <select id="getAppIssueCountByProjectIdAndUserId" resultType="neatlogic.framework.rdm.dto.AppVo">
        select count(distinct ri.id) as issueCount,
        ra.id as id,
        ra.app_type as type,
        ra.sort as sort
        from rdm_issue ri
        join rdm_app ra on ri.app_id = ra.id
        left join rdm_issue_user riu
        on ri.id = riu.issue_id
        <where>
            ra.project_id = #{projectId}
            <if test="userId != null">
                and riu.user_id = #{userId}
            </if>
        </where>
        group by ra.id
        order by ra.sort
    </select>

    <select id="getAppStatusRel" parameterType="neatlogic.framework.rdm.dto.AppStatusRelVo"
            resultType="neatlogic.framework.rdm.dto.AppStatusRelVo">
        select id,
               app_id         as appId,
               from_status_id as fromStatusId,
               to_status_id   as toStatusId,
               config         as configStr
        from rdm_app_status_rel
        where app_id = #{appId}
          and from_status_id = #{fromStatusId}
          and to_status_id = #{toStatusId}
    </select>

    <select id="getStatusRelByAppId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.rdm.dto.AppStatusRelVo">
        select rasr.id             as id,
               rasr.from_status_id as fromStatusId,
               rasr.to_status_id   as toStatusId,
               rasr.app_id         as appId,
               fras.name           as fromStatusName,
               fras.label          as fromStatusLabel,
               fras.color          as fromStatusColor,
               tras.name           as toStatusName,
               tras.label          as toStatusLabel,
               tras.color          as toStatusColor,
               rasr.config         as configStr
        from rdm_app_status_rel rasr
                 join rdm_app_status fras on rasr.from_status_id = fras.id
                 join rdm_app_status tras on rasr.to_status_id = tras.id
        where rasr.app_id = #{value}
    </select>

    <select id="getStatusById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.rdm.dto.AppStatusVo">
        select id,
               app_id   as appId,
               name,
               label,
               sort,
               color,
               is_start as isStart,
               is_end   as isEnd
        FROM rdm_app_status
        WHERE id = #{value}
    </select>

    <select id="getStatusByAppId"
            resultType="neatlogic.framework.rdm.dto.AppStatusVo">
        select
        a.id,
        a.app_id as appId,
        a.is_start as isStart,
        a.is_end as isEnd,
        a.name,
        a.label,
        a.sort,
        a.color
        FROM rdm_app_status a
        <if test="status != null">
            join rdm_app_status_rel b on a.id = b.to_status_id and b.from_status_id = #{status} and b.app_id = #{appId}
        </if>
        WHERE a.app_id = #{appId}
        order by a.sort
    </select>

    <select id="getAppById" parameterType="java.lang.Long" resultMap="appResultMap">
        select a.id,
               a.app_type    as appType,
               a.project_id  AS projectId,
               a.sort,
               b.app_id      AS attrAppId,
               b.id          as attrId,
               b.type        as attrType,
               b.name        as attrName,
               b.label       as attrLabel,
               b.description as attrDescription,
               b.is_required as attrIsRequired,
               b.sort        as attrSort,
               b.is_private  as attrIsPrivate,
               b.config      as attrConfigStr
        from rdm_app a
                 left join rdm_app_attr b
                           on a.id = b.app_id
        where a.id = #{value}
        order by b.sort
    </select>

    <select id="listAllAppAttr" resultMap="appResultMap">
        select a.id,
               a.app_type    as appType,
               a.project_id  AS projectId,
               a.sort,
               b.id          as attrId,
               b.app_id      as attrAppId,
               b.type        as attrType,
               b.name        as attrName,
               b.label       as attrLabel,
               b.description as attrDescription,
               b.is_required as attrIsRequired,
               b.sort        as attrSort,
               b.is_private  as attrIsPrivate,
               b.config      as attrConfigStr
        from rdm_app a
                 left join rdm_app_attr b
                           on a.id = b.app_id
        order by a.id, b.sort
    </select>

    <resultMap id="appResultMap" type="neatlogic.framework.rdm.dto.AppVo">
        <id property="id" column="id"/>
        <result property="type" column="appType"/>
        <result property="projectId" column="projectId"/>
        <result property="sort" column="sort"/>
        <collection property="attrList" ofType="neatlogic.framework.rdm.dto.AppAttrVo">
            <id property="id" column="attrId"/>
            <result property="appId" column="attrAppId"/>
            <result property="type" column="attrType"/>
            <result property="name" column="attrName"/>
            <result property="label" column="attrLabel"/>
            <result property="description" column="attrDescription"/>
            <result property="isRequired" column="attrIsRequired"/>
            <result property="sort" column="attrSort"/>
            <result property="isPrivate" column="attrIsPrivate"/>
            <result property="configStr" column="attrConfigStr"/>
        </collection>
    </resultMap>

    <select id="getIterationAppType" parameterType="java.lang.Long" resultMap="appResultMap">
        select a.id,
               a.app_type    as appType,
               a.project_id  AS projectId,
               a.sort,
               b.id          as attrId,
               b.app_id      as attrAppId,
               b.type        as attrType,
               b.name        as attrName,
               b.label       as attrLabel,
               b.description as attrDescription,
               b.is_required as attrIsRequired,
               b.sort        as attrSort,
               b.is_private  as attrIsPrivate,
               b.config      as attrConfigStr
        from (select distinct ra.*
              from rdm_app ra
                       join rdm_issue ri on ra.id = ri.app_id
              where ri.iteration = #{value}
              order by ra.sort) a
                 left join rdm_app_attr b
                           on a.id = b.app_id
        order by a.sort, b.sort
    </select>

    <select id="getAppDetailByProjectId" parameterType="java.lang.Long" resultMap="appResultMap">
        select a.id,
               a.app_type    as appType,
               a.project_id  AS projectId,
               a.sort,
               b.id          as attrId,
               b.app_id      as attrAppId,
               b.type        as attrType,
               b.name        as attrName,
               b.label       as attrLabel,
               b.description as attrDescription,
               b.is_required as attrIsRequired,
               b.sort        as attrSort,
               b.is_private  as attrIsPrivate,
               b.config      as attrConfigStr
        from rdm_app a
                 left join rdm_app_attr b
                           on a.id = b.app_id
        where a.project_id = #{value}
        order by a.sort, b.sort
    </select>

    <select id="getAppUserSetting" parameterType="neatlogic.framework.rdm.dto.AppUserSettingVo"
            resultType="neatlogic.framework.rdm.dto.AppUserSettingVo">
        select user_id as userId,
               app_id  as appId,
               config  as configStr
        from rdm_app_usersetting
        where user_id = #{userId}
          and app_id = #{appId}
    </select>

    <insert id="insertAppStatusRel" parameterType="neatlogic.framework.rdm.dto.AppStatusRelVo">
        insert ignore into rdm_app_status_rel (id, app_id, from_status_id, to_status_id)
        values (#{id}, #{appId}, #{fromStatusId}, #{toStatusId})
    </insert>


    <insert id="insertAppStatus" parameterType="neatlogic.framework.rdm.dto.AppStatusVo">
        insert into rdm_app_status
        (id,
         app_id,
         name,
         label,
         sort,
         color)
        values (#{id},
                #{appId},
                #{name},
                #{label},
                #{sort},
                #{color})
    </insert>


    <update id="updateAppStatus" parameterType="neatlogic.framework.rdm.dto.AppStatusVo">
        update rdm_app_status
        set `name`        = #{name},
            `label`       = #{label},
            `color`       = #{color},
            `description` = #{description}
        where `id` = #{id}
    </update>


    <update id="updateAppStatusRelConfig" parameterType="neatlogic.framework.rdm.dto.AppStatusVo">
        update rdm_app_status_rel
        set config = #{configStr}
        where id = #{id}
    </update>

    <update id="resetAppStatusIsStart" parameterType="java.lang.Long">
        update rdm_app_status
        set is_start = 0
        where app_id = #{value}
    </update>

    <update id="updateAppStatusType" parameterType="neatlogic.framework.rdm.dto.AppStatusVo">
        update rdm_app_status
        set id = #{id}
        <if test="isStart != null">
            ,is_start = #{isStart}
        </if>
        <if test="isEnd != null">
            ,is_end = #{isEnd}
        </if>
        where id = #{id}
    </update>

    <insert id="insertApp" parameterType="neatlogic.framework.rdm.dto.AppVo">
        insert rdm_app (id, app_type, project_id, sort)
        values (#{id}, #{type}, #{projectId}, #{sort})
    </insert>

    <insert id="insertAppUserSetting" parameterType="neatlogic.framework.rdm.dto.AppUserSettingVo">
        insert into rdm_app_usersetting (user_id, app_id, config)
        values (#{userId}, #{appId}, #{configStr})
        ON DUPLICATE KEY
            UPDATE config = #{configStr}
    </insert>

    <delete id="deleteAppStatusRel" parameterType="neatlogic.framework.rdm.dto.AppStatusRelVo">
        delete
        from rdm_app_status_rel
        where app_id = #{appId}
          and from_status_id = #{fromStatusId}
          and to_status_id = #{toStatusId}
    </delete>


    <delete id="deleteAppById" parameterType="java.lang.Long">
        DELETE a,b,c,d,e,rau
        FROM rdm_app a
                 left join rdm_app_attr b on a.id = b.app_id
                 left join rdm_app_priority c on a.id = c.app_id
                 left join rdm_app_status d on a.id = d.app_id
                 left join rdm_app_status_rel e on a.id = e.app_id
                 left join rdm_app_usersetting rau on a.id = rau.app_id
        where a.id = #{value}
    </delete>

    <delete id="deleteAppStatusById" parameterType="java.lang.Long">
        DELETE a,b,c
        FROM rdm_app_status a
                 LEFT JOIN rdm_app_status_rel b ON a.id = b.from_status_id
                 LEFT JOIN rdm_app_status_rel c ON a.id = c.to_status_id
        WHERE a.id = #{value}
    </delete>


    <delete id="deleteCatalogById" parameterType="java.lang.Long">
        delete
        from rdm_app_catalog
        where id = #{value}
    </delete>
</mapper>
