<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.AttrMapper">
    <select id="checkAttrNameIsExists" parameterType="neatlogic.framework.rdm.dto.AppAttrVo" resultType="int">
        select count(1)
        from rdm_app_attr
        where app_id = #{appId}
          and id != #{id}
          and is_private = #{isPrivate}
          and name = #{name}
    </select>

    <select id="getAttrByAppId" parameterType="java.lang.Long" resultType="neatlogic.framework.rdm.dto.AppAttrVo">
        select id,
               app_id      as appId,
               type,
               name,
               label,
               description,
               is_required AS isRequired,
               sort,
               is_private  AS isPrivate,
               config      AS configStr,
               is_active   AS isActive
        FROM rdm_app_attr
        where app_id = #{value}
        order by sort
    </select>

    <select id="getAttrById" parameterType="java.lang.Long" resultType="neatlogic.framework.rdm.dto.AppAttrVo">
        select id,
               app_id      as appId,
               type,
               name,
               label,
               description,
               is_required AS isRequired,
               sort,
               is_private  AS isPrivate,
               config      AS configStr,
               is_active   AS isActive
        FROM rdm_app_attr
        where id = #{value}
    </select>

    <select id="getMaxAppAttrSortByAppId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select max(sort)
        FROM rdm_app_attr
        WHERE app_id = #{value}
    </select>

    <select id="searchAppAttr" parameterType="neatlogic.framework.rdm.dto.AppAttrVo"
            resultType="neatlogic.framework.rdm.dto.AppAttrVo">
        select id,
        app_id as appId,
        type,
        name,
        label,
        description,
        is_required AS isRequired,
        sort,
        is_private AS isPrivate,
        config AS configStr,
        is_active AS isActive
        FROM rdm_app_attr
        where
        app_id = #{appId}
        <if test="isActive != null">
            and is_active = #{isActive}
        </if>
        order by sort
    </select>

    <insert id="insertAppAttr" parameterType="neatlogic.framework.rdm.dto.AppAttrVo">
        insert into rdm_app_attr
        (id,
         app_id,
         type,
         name,
         label,
         description,
         is_required,
         sort,
         is_private,
         config,
         is_active)
        values (#{id},
                #{appId},
                #{type},
                #{name},
                #{label},
                #{description},
                #{isRequired},
                #{sort},
                #{isPrivate},
                #{configStr},
                #{isActive})
    </insert>

    <update id="updateAppAttrName" parameterType="neatlogic.framework.rdm.dto.AppTypeVo">
        update rdm_app_attr
        set name  = #{name},
            label = #{label}
        where id = #{id}
    </update>

    <update id="updateAppAttr" parameterType="neatlogic.framework.rdm.dto.AppTypeVo">
        update rdm_app_attr
        set name        = #{name},
            label       = #{label},
            description = #{description},
            is_required = #{isRequired},
            sort        = #{sort},
            config      = #{configStr},
            is_active   = #{isActive}
        where id = #{id}
    </update>

    <update id="updateAppAttrSort" parameterType="neatlogic.framework.rdm.dto.AppAttrVo">
        update rdm_app_attr
        set sort = #{sort}
        where id = #{id}
    </update>

    <update id="updateAppAttrIsActive" parameterType="neatlogic.framework.rdm.dto.AppAttrVo">
        update rdm_app_attr
        set is_active = #{isActive}
        WHERE id = #{id}
    </update>

    <update id="updateAppAttrIsRequired" parameterType="neatlogic.framework.rdm.dto.AppAttrVo">
        update rdm_app_attr
        set is_required = #{isRequired}
        WHERE id = #{id}
    </update>

    <delete id="deleteAppAttrById" parameterType="java.lang.Long">
        delete
        from rdm_app_attr
        where id = #{value}
    </delete>
</mapper>
