<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.IssueCostMapper">
    <select id="searchIssueCost" parameterType="neatlogic.framework.rdm.dto.IssueCostVo"
            resultType="neatlogic.framework.rdm.dto.IssueCostVo">
        select id,
        issue_id as issueId,
        DATE_FORMAT(cost_date, '%Y-%m-%d') as costDate,
        timecost,
        description
        from rdm_issue_cost
        <include refid="searchIssueCondition"></include>
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchIssueCostCount" parameterType="neatlogic.framework.rdm.dto.IssueCostVo" resultType="int">
        select count(1)
        from rdm_issue_cost
        <include refid="searchIssueCondition"></include>
    </select>

    <sql id="searchIssueCondition">
        <where>
            <if test="issueId != null">
                and issue_id =
                #{issueId}
            </if>
        </where>
    </sql>

    <select id="getIssueCostById" parameterType="java.lang.Long" resultType="neatlogic.framework.rdm.dto.IssueCostVo">
        select id,
               issue_id                           as issueId,
               DATE_FORMAT(cost_date, '%Y-%m-%d') as costDate,
               timecost,
               description
        from rdm_issue_cost
        where id = #{value}
    </select>

    <update id="updateIssueCost" parameterType="neatlogic.framework.rdm.dto.IssueCostVo">
        update rdm_issue_cost
        set timecost    = #{timecost},
            description = #{description}
        where id = #{id}
    </update>

    <insert id="insertIssueCost" parameterType="neatlogic.framework.rdm.dto.IssueCostVo">
        insert into rdm_issue_cost
        (id,
         issue_id,
         cost_date,
         timecost,
         description)
        values (#{id},
                #{issueId},
                #{costDate},
                #{timecost},
                #{description})
    </insert>

    <delete id="deleteIssueCost" parameterType="java.lang.Long">
        delete
        from rdm_issue_cost
        where id = #{id}
    </delete>

</mapper>
