<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.IssueMapper">
    <select id="getTagByIssueId" parameterType="java.lang.Long" resultType="neatlogic.framework.rdm.dto.TagVo">
        select a.id, a.name
        from rdm_tag a
                 join rdm_issue_tag b on a.id = b.tag_id
        where b.issue_id = #{value}
    </select>

    <resultMap id="issueResultMap" type="neatlogic.framework.rdm.dto.IssueVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="appId" column="appId"/>
    </resultMap>

    <select id="getIssueById" parameterType="neatlogic.framework.rdm.dto.IssueVo" resultMap="issueResultMap">
        select a.id,
               a.name,
               a.app_id      as appId,
               a.priority,
               a.status,
               a.create_date as createDate,
               a.content_id  as contentId,
               a.catalog
        from rdm_issue a
    </select>

    <select id="getIssueCountByProjectId" parameterType="neatlogic.framework.rdm.dto.IssueCountVo"
            resultType="neatlogic.framework.rdm.dto.IssueCountVo">
        select count(a.id) as `count`,
        <choose>
            <when test="groupBy == 'day'">
                DATE_FORMAT(a.create_date, '%m-%d %H') as `date`
            </when>
            <when test="groupBy == 'month'">
                DATE_FORMAT(a.create_date, '%Y-%m %d') as `date`
            </when>
        </choose>
        from rdm_issue a
        join rdm_app b on a.app_id = b.id
        join rdm_project c on b.project_id = c.id
        where c.id = #{projectId}
        <choose>
            <when test="groupBy == 'day'">
                AND a.create_date &gt;= DATE_SUB(NOW(), INTERVAL 15 DAY)
            </when>
            <when test="groupBy == 'month'">
                AND a.create_date &gt;= DATE_SUB(NOW(), INTERVAL 12 MONTH)
            </when>
        </choose>
        group by `date`
    </select>


    <select id="deleteIssueByObjectId" parameterType="java.lang.Long">
        delete a,b
        from rdm_issue a
                 left join rdm_issue_user b on a.id = b.issue_id
        where a.app_id = #{value}
    </select>
</mapper>
