<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.IterationMapper">

    <select id="getIterationById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.rdm.dto.IterationVo">
        select a.id,
               a.name,
               a.project_id                                                as projectId,
               a.start_date                                                as startDate,
               a.end_date                                                  as endDate,
               a.is_open                                                   as isOpen,
               a.description,
               (select count(1) from rdm_issue x where x.iteration = a.id) as issueCount,
               (select count(1)
                from rdm_issue x
                         join rdm_app_status y on
                    x.status = y.id and y.is_end = 1
                where x.iteration = a.id)                                  as doneIssueCount
        from rdm_iteration a
        where a.id = #{value}
    </select>

    <select id="searchIteration" parameterType="neatlogic.framework.rdm.dto.IterationVo"
            resultType="neatlogic.framework.rdm.dto.IterationVo">
        select
        a.id,
        a.name,
        a.project_id as projectId,
        a.start_date as startDate,
        a.end_date as endDate,
        a.is_open as isOpen,
        a.description,
        (select count(1) from rdm_issue x where x.iteration = a.id) as issueCount,
        (select count(1) from rdm_issue x join rdm_app_status y on
        x.status = y.id and y.is_end = 1 where
        x.iteration = a.id) as doneIssueCount
        from rdm_iteration a
        <include refid="searchIterationSql"></include>
        order by a.id desc
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchIterationCount" parameterType="neatlogic.framework.rdm.dto.IterationVo" resultType="int">
        select
        count(1)
        from rdm_iteration a
        <include refid="searchIterationSql"></include>
    </select>

    <sql id="searchIterationSql">
        <where>
            a.project_id = #{projectId}
            <if test="isOpen != null">
                and a.is_open = #{isOpen}
            </if>
            <if test="keyword != null and keyword != ''">
                and a.name like concat('%',#{keyword}, '%')
            </if>
            <if test="startDateRange != null">
                <if test="startDateRange.size() > 0">
                    AND a.start_date &gt;= STR_TO_DATE(#{startDateRange[0]},'%Y-%m-%d')
                </if>
                <if test="startDateRange.size() > 1">
                    AND a.start_date &lt;= STR_TO_DATE(#{startDateRange[1]},'%Y-%m-%d')
                </if>
            </if>
            <if test="endDateRange != null">
                <if test="endDateRange.size() > 0">
                    AND a.end_date &gt;= STR_TO_DATE(#{endDateRange[0]},'%Y-%m-%d')
                </if>
                <if test="endDateRange.size() > 1">
                    AND a.end_date &lt;= STR_TO_DATE(#{endDateRange[1]},'%Y-%m-%d')
                </if>
            </if>
        </where>
    </sql>

    <update id="updateIteration" parameterType="neatlogic.framework.rdm.dto.IterationVo">
        update rdm_iteration
        set name        = #{name},
            start_date  = #{startDate},
            end_date    = #{endDate},
            description = #{description}
        where id = #{id}
    </update>

    <update id="updateIterationIsOpen" parameterType="neatlogic.framework.rdm.dto.IterationVo">
        update rdm_iteration
        set is_open = #{isOpen}
        where id = #{id}
    </update>

    <insert id="insertIteration" parameterType="neatlogic.framework.rdm.dto.IterationVo">
        insert into rdm_iteration (id,
                                   name,
                                   project_id,
                                   start_date,
                                   end_date,
                                   is_open,
                                   description)
        values (#{id},
                #{name},
                #{projectId},
                #{startDate},
                #{endDate},
                1,
                #{description})
    </insert>
</mapper>
