<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.IterationMapper">

    <select id="getIterationById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.rdm.dto.IterationVo">
        select a.id,
               a.name,
               a.project_id                                                as projectId,
               a.start_date                                                as startDate,
               a.end_date                                                  as endDate,
               a.is_open                                                   as isOpen,
               a.description,
               (select count(1) from rdm_issue x where x.iteration = a.id) as issueCount,
               (select count(1)
                from rdm_issue x
                         join rdm_app_status y on
                    x.status = y.id and y.is_end = 1
                where x.iteration = a.id)                                  as doneIssueCount
        from rdm_iteration a
        where a.id = #{value}
    </select>

    <select id="searchIteration" parameterType="neatlogic.framework.rdm.dto.IterationVo"
            resultType="neatlogic.framework.rdm.dto.IterationVo">
        select
        a.id,
        a.name,
        a.project_id as projectId,
        a.start_date as startDate,
        a.end_date as endDate,
        a.is_open as isOpen,
        a.description,
        (select count(1) from rdm_issue x where x.iteration = a.id) as issueCount,
        (select count(1) from rdm_issue x join rdm_app_status y on
        x.status = y.id and y.is_end = 1 where
        x.iteration = a.id) as doneIssueCount
        from rdm_iteration a
        <include refid="searchIterationSql"></include>
        order by a.id desc
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchIterationCount" parameterType="neatlogic.framework.rdm.dto.IterationVo" resultType="int">
        select
        count(1)
        from rdm_iteration
        <include refid="searchIterationSql"></include>
    </select>

    <sql id="searchIterationSql">
        <where>
            project_id = #{projectId}
            <if test="keyword != null and keyword != ''">
                and name like concat('%',#{keyword}, '%')
            </if>
            <if test="startDateRange != null">
                <if test="startDateRange.size() > 0">
                    AND start_date &gt;= STR_TO_DATE(#{startDateRange[0]},'%Y-%m-%d')
                </if>
                <if test="startDateRange.size() > 1">
                    AND start_date &lt;= STR_TO_DATE(#{startDateRange[1]},'%Y-%m-%d')
                </if>
            </if>
            <if test="endDateRange != null">
                <if test="endDateRange.size() > 0">
                    AND a.end_date &gt;= STR_TO_DATE(#{endDateRange[0]},'%Y-%m-%d')
                </if>
                <if test="endDateRange.size() > 1">
                    AND a.end_date &lt;= STR_TO_DATE(#{endDateRange[1]},'%Y-%m-%d')
                </if>
            </if>
        </where>
    </sql>

    <update id="updateIteration" parameterType="neatlogic.framework.rdm.dto.IterationVo">
        update rdm_iteration
        set name        = #{name},
            start_date  = #{startDate},
            end_date    = #{endDate},
            description = #{description}
        where id = #{id}
    </update>

    <update id="updateIterationIsOpen" parameterType="neatlogic.framework.rdm.dto.IterationVo">
        update rdm_iteration
        set is_open = #{isOpen}
        where id = #{id}
    </update>

    <insert id="insertIteration" parameterType="neatlogic.framework.rdm.dto.IterationVo">
        insert into rdm_iteration (id,
                                   name,
                                   project_id,
                                   start_date,
                                   end_date,
                                   is_open,
                                   description)
        values (#{id},
                #{name},
                #{projectId},
                #{startDate},
                #{endDate},
                1,
                #{description})
    </insert>
</mapper>
