<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.ProjectTemplateMapper">
    <resultMap id="projectTemplateResultMap" type="neatlogic.framework.rdm.dto.ProjectTemplateVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="isActive" column="isActive"/>
        <collection property="appTypeList" ofType="neatlogic.framework.rdm.dto.ProjectTemplateAppTypeVo">
            <id property="appType" column="appType"/>
            <result property="sort" column="sort"/>
            <result property="configStr" column="configStr"/>
        </collection>
    </resultMap>

    <select id="getProjectTemplateById" parameterType="java.lang.Long" resultMap="projectTemplateResultMap">
        SELECT a.id,
               a.name,
               a.is_active AS isActive,
               b.app_type  AS appType,
               b.sort,
               b.config    AS configStr
        FROM rdm_project_template a
                 JOIN rdm_project_template_apptype b ON a.id = b.template_id
        WHERE a.id = #{value}
        order by sort
    </select>

    <select id="searchProjectTemplate" parameterType="neatlogic.framework.rdm.dto.ProjectTemplateVo"
            resultMap="projectTemplateResultMap">
        select
        id,
        name,
        is_active AS isActive,
        b.app_type AS appType,
        b.sort
        FROM rdm_project_template a
        LEFT JOIN rdm_project_template_apptype b ON a.id = b.template_id
        <where>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
        </where>
        order by a.id,b.sort
    </select>

    <insert id="insertProjectTemplateAppType" parameterType="neatlogic.framework.rdm.dto.ProjectTemplateAppTypeVo">
        insert rdm_project_template_apptype
        (template_id,
         app_type,
         sort,
         config)
        values (#{templateId},
                #{appType},
                #{sort},
                #{configStr})
    </insert>

    <insert id="insertProjectTemplate" parameterType="neatlogic.framework.rdm.dto.ProjectTemplateVo">
        insert into rdm_project_template
            (id, name, is_active)
        values (#{id}, #{name}, #{isActive})
    </insert>

    <update id="updateProjectTemplate" parameterType="neatlogic.framework.rdm.dto.ProjectTemplateVo">
        update rdm_project_template
        set name      = #{name},
            is_active = #{isActive}
        where id = #{id}
    </update>

    <delete id="deleteProjectTemplateAppTypeByTemplateId" parameterType="java.lang.Long">
        delete
        from rdm_project_template_apptype
        where template_id = #{value}
    </delete>

    <delete id="deleteProjectTemplate" parameterType="java.lang.Long">
        delete a,b
        from rdm_project_template a
                 left join rdm_project_template_apptype b on a.id = b.template_id
        where a.id = #{value}
    </delete>
</mapper>
