<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.ProjectSchemaMapper">
    <select id="checkTableHasData" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1)
        FROM ${value}
        LIMIT 1
    </select>

    <select id="checkTableIsExists" resultType="int">
        select count(1)
        from information_schema.tables a
        where a.TABLE_SCHEMA = #{schemaName}
          and a.TABLE_NAME = #{tableName}
    </select>

    <select id="checkSchemaIsExists" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1)
        FROM information_schema.`SCHEMATA`
        WHERE schema_name = #{value}
    </select>

    <insert id="insertAppTableAttr">
        ALTER TABLE ${tableName}
        ADD COLUMN `${appAttrVo.id}`
        <choose>
            <when test="appAttrVo.type == 'number'">
                decimal(50,4)
            </when>
            <when test="appAttrVo.type == 'date'">
                date
            </when>
            <when test="appAttrVo.type == 'time'">
                time
            </when>
            <when test="appAttrVo.type == 'datetime'">
                timestamp
            </when>
            <when test="appAttrVo.type == 'enum'">
                char(30)
            </when>
            <when test="appAttrVo.type == 'select'">
                TEXT
            </when>
            <otherwise>TEXT</otherwise>
        </choose>
        NULL COMMENT '${appAttrVo.label}'
        <choose>
            <when test="appAttrVo.type == 'number' or appAttrVo.type == 'date' or appAttrVo.type == 'time' or appAttrVo.type == 'datetime' or appAttrVo.type == 'enum'">
                ,ADD KEY `index_${appAttrVo.id}` (`${appAttrVo.id}`)
            </when>
            <when test="appAttrVo.type == 'select'">
                ,ADD KEY `index_${appAttrVo.id}` ((CAST(`${appAttrVo.id}` AS CHAR(255) ARRAY)))
            </when>
        </choose>
    </insert>

    <insert id="insertAppTable">
        CREATE TABLE IF NOT EXISTS ${tableName}
        (
            `issue_id` bigint(20) NOT NULL COMMENT 'rdm_issue表id',
            PRIMARY KEY (`issue_id`)
        ) ENGINE = INNODB
          DEFAULT CHARSET = utf8mb4
    </insert>

    <delete id="deleteAppTable">
        DROP TABLE IF EXISTS ${tableName}
    </delete>

    <delete id="deleteAppTableAttr">
        ALTER TABLE ${tableName}
            DROP COLUMN `${appAttrVo.id}`,
            DROP COLUMN `${appAttrVo.id}_hash`
    </delete>
</mapper>
