<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.rdm.dao.mapper.ProjectSchemaMapper">
    <select id="checkTableHasData" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1)
        FROM ${value}
        LIMIT 1
    </select>

    <select id="checkTableIsExists" resultType="int">
        select count(1)
        from information_schema.tables a
        where a.TABLE_SCHEMA = #{schemaName}
          and a.TABLE_NAME = #{tableName}
    </select>

    <select id="checkSchemaIsExists" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(1)
        FROM information_schema.`SCHEMATA`
        WHERE schema_name = #{value}
    </select>

    <insert id="insertAppTableAttr">
        ALTER TABLE ${tableName}
        ADD COLUMN `${appAttrVo.id}`
        <choose>
            <when test="appAttrVo.type == 'number'">
                decimal(50,4)
            </when>
            <when test="appAttrVo.type == 'date'">
                date
            </when>
            <when test="appAttrVo.type == 'time'">
                time
            </when>
            <when test="appAttrVo.type == 'datetime'">
                datetime
            </when>
            <when test="appAttrVo.type == 'enum'">
                char(30)
            </when>
            <when test="appAttrVo.type == 'select'">
                TEXT
            </when>
            <otherwise>TEXT</otherwise>
        </choose>
        NULL COMMENT '${appAttrVo.label}'
        <choose>
            <when test="appAttrVo.type == 'number' or appAttrVo.type == 'date' or appAttrVo.type == 'time' or appAttrVo.type == 'datetime' or appAttrVo.type == 'enum'">
                ,ADD KEY `index_${appAttrVo.id}` (`${appAttrVo.id}`)
            </when>

            <when test="_databaseId == 'mysql' and appAttrVo.type == 'select'">
                ,ADD KEY `index_${appAttrVo.id}` ((CAST(`${appAttrVo.id}` AS CHAR(255) ARRAY)))
            </when>
        </choose>
    </insert>

    <insert id="insertAppTable">
        CREATE TABLE IF NOT EXISTS ${tableName}
        (
            `issue_id` bigint(20) NOT NULL COMMENT 'rdm_issue表id',
            PRIMARY KEY (`issue_id`)
        ) ENGINE = INNODB
          DEFAULT CHARSET = utf8mb4
          COLLATE = utf8mb4_general_ci;
    </insert>

    <delete id="deleteAppTable">
        DROP TABLE IF EXISTS ${tableName}
    </delete>

    <delete id="deleteAppTableAttr">
        ALTER TABLE ${tableName}
            DROP COLUMN `${appAttrVo.id}`
    </delete>
</mapper>
